<link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Licorice&family=VT323&family=Varela+Round&display=swap" rel="stylesheet">
<style>
    .center {
       text-align: center;
       }

 </style>


<body style="background-color: #051b2c">
   <div class="center">
      <img src="static/CodeGuesser.png" width="1000" height="400">
      <br>
         <a href="/play">
            <button type="button" style="      background-color: #051b2c;
            border: none;
            color: #8bc8fe;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 128px;
            font-family: 'VT323', monospace;
            margin: 4px 2px;">Play</button>
         </a>
      </br
   </div>
</body>

